header, main {
    position: relative;
    width: 700px;
    max-width: 98vw;
    margin: 0 auto;
}

header {
    height: var(--svg);
    padding: 0;

    text-align: right;
    &#main-header {
        display: grid;
        grid-template-columns: min-content min-content min-content;
        align-items: center;
        justify-content: end;
        gap: calc(var(--default-gap) / 2);
        > p, >#logout {
            font-size: var(--font-size-small);
        }
    }
}


form {
    width: 100%;
}


// posts

.post, hr {
    margin-bottom: var(--default-gap);
}
.meta {
    display: grid;
    grid-template-columns: 1fr auto;
}
.meta > p {
    font-size: var(--font-size-small);
}

// theme modal

#theme-modal {
    height: 100vh;
    // https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar
    width: calc(100vw - (100vw - 100%));

    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    
    display: none;
    justify-content: center;

    background-color: var(--background);
}
#theme-modal.open {
    display: grid;
}

#theme-header {
    align-self: start;
}

#theme {
    height: min-content;
    width: 700px;
    max-width: 98vw;

    padding: var(--default-gap) 0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
}

.theme-picker, .color-picker {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
    gap: var(--default-gap);
    margin-bottom: var(--default-gap);  
}
.theme-picker > #light {
    display: grid;
    justify-content: center;
    > p {
        width: min-content;
    }
}